<form [formGroup]="fPassForm" (submit)="resetPassword(fPassForm)" novalidate>
    <div class="fPass-container" id="fPass-container">
        <mat-card class="fPass-card">
            <mat-card-header class="fPass-header">
                <mat-card-title>Forgot Password</mat-card-title>
            </mat-card-header>
            <mat-card-content class="fPass-content">
                <mat-form-field class="form-input">
                    <input matInput class="fPass-field" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="off">
                </mat-form-field>
                <mat-error *ngIf="submitted && !!f.email.errors">
                    <div class="alert alert-danger" *ngIf="!!f.email.errors.required">Email is required</div>
                    <div class="alert alert-danger" *ngIf="!!f.email.errors.email">Email must be a valid email address</div>
                </mat-error>
            </mat-card-content>
            <mat-card-actions class="fPass-action">
                <button mat-raised-button type="submit" class="fPass-button" color="primary">Submit</button>
            </mat-card-actions>
            <mat-card-actions class="register-action align-center">
                <span class="cursor" (click)="goToLogin()">Go back to the Login! </span>
            </mat-card-actions>
            <mat-label></mat-label>
        </mat-card>
    </div>
</form>
